<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 barra-titulo-form">
            <b>Registro</b> - Reporte
        </div>
    </div>
    <div class="row">
        <h2>Opción pendiente para desarrollar...</h2>
    </div>
    <div class="modal-footer">
        <div class="nav navbar-right" style="padding-right: 10px">
            <button type="button" onclick="Salir();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm" data-toggle="tooltip" title="Salir al Listado">
                Salir
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function Salir() {
            window.location.href = "/Registro/Listado";
        }
    </script>
}